{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.1/css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'rest_framework/css/default.css' %}" />
        <link rel="stylesheet" href="{% static 'rest_framework/css/prettify.css' %}" />
        <script src="{% static 'jquery-1.11.1.min.js' %}" ></script>
        <script src="{% static 'bootstrap-3.3.1/js/bootstrap.min.js' %}" ></script>
        <title>{{ title }}</title>
    </head>

    <body>
        <div class="container well">
            <div class="col-lg-6 center-block" style="float: None">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-dismissible fade in {% if message.tags %}alert-{{ message.tags }}"{% endif %} >
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" role='form'>
                    <fieldset>
                        {% csrf_token %}
                        <div class="form-group" >
                            <label for="new_password">新密码: (密码只允许字母和数字，至少6位)</label>
                            <input name="new_password" type="password" class="form-control"/>
                        </div>
                        <div class="form-group" >
                            <label for="confirm_password">确认新密码: (密码只允许字母和数字，至少6位)</label>
                            <input name="confirm_password" type="password" class="form-control"/>
                        </div>
                        <div class="form-actions">
                            <button class="btn btn-primary" type="summit" >提交</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
